{% extends "base.html" %}

{% load bootstrap_toolkit i18n strings %}

{% block title %}
    {% trans "ticket list" %}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#myTable').DataTable({
                {% if is_search %}"searching": false,{% endif %}
                "language": {
                    search: '{% trans "Search" %}',
                    info:           '_START_ - _END_ {% trans "of" %} _TOTAL_',
                    lengthMenu:     '_MENU_',
                    zeroRecords:    '{% trans "No matching records found" %}',
                    loadingRecords: '{% trans "Loading" %}',
                    paginate: {
                        first:      '{% trans "first" %}',
                        last:       '{% trans "last" %}',
                        next:       '{% trans "next" %}',
                        previous:   '{% trans "previous" %}',
                    },
                },
                "lengthMenu": [ 10, 20, 50, 100 ],
                "pageLength": 20,
                "order": [[ 2, "asc" ]],
                "columnDefs": [
                   { "orderable": false, "targets": [0, 1] }
                 ]
            });
        });
    </script>
    <style>
        .no-bootstrap select {
            width: 50px;
        }
        .no-bootstrap input {
            width: 200px;
        }
        table.dataTable thead th, table.dataTable thead td {
            border-bottom: 1px solid #ddd;
        }
        table.dataTable.no-footer {
            border-bottom: 0px;
        }
        #myTable thead {
            background-color: #2980b9;
            color: white;
        }
        #state {
            max-width: 43px;
        }
        #created {
            min-width: 80px;
        }
        #type {
            min-width: 85px;
        }
    </style>
{% endblock %}

{% block content %}

    <h2>{% if is_search %}{% trans "search results for tickets" %}&nbsp;<a class="btn btn-small" href="/tickets/search/?new=1">{% trans "new search" %}</a>&nbsp;<a role="button" data-toggle="modal" class="btn btn-small" href="#saveDlg">{% trans "save search" %}</a>&nbsp;<a role="button" data-toggle="modal" class="btn btn-small" href="#saveToBoardDlg">{% trans "save to board" %}</a>{% else %}{% trans "tickets" %}{% endif %}</h2>
    <p><small class="text-muted">{% if list_caption %}{% trans "report" %}: {{ list_caption }}{% endif %}</small></p>
    <p>&nbsp;</p>

    {% if lines %}
    <section class="no-bootstrap">
        <table id="myTable" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th id="state">{% trans "state" %}</th>
                <th></th>
                <th>{% trans "ticket#" %}</th>
                <th id="created">{% trans "created" %}</th>
                <th id="type">{% trans "type" %}</th>
                <th>{% trans "state" %}</th>
                <th>{% trans "assigned" %}</th>
                <th>{% trans "caption" %}</th>
            </tr>
            </thead>
              {% for line in lines %}
                <tr>
                	<td data-title="{% trans "state" %}"><button type="button" class="btn {% if line.closed %}btn-danger{% else %}btn-success{% endif %}" disabled></td>
                    <td>{% if line.deadline %}<i class="icon-time"></i>{% endif %}</td>
                    <td data-title="{% trans "ticket#" %}" data-order="{{ line.id }}"><a href="/tickets/view/{{ line.id }}/">#{{ line.id }}</a></td>
                    <td data-title="{% trans "created" %}" data-order="{{ line.c_date|date:'Ymd' }}">{{ line.c_date|date:"d.m.y H:i" }}</td>
                    <td data-title="{% trans "type" %}">{{ line.type }}</td>
                    <td data-title="{% trans "state" %}">{{ line.state }}</td>
                    <td data-title="{% trans "assigned" %}">{{ line.assigned|default:"" }}</td>
                    <td data-title="{% trans "caption" %}">{{ line.caption }}</td>
                </tr>
            {% endfor %}
        </table>
        </section>
    {% endif %}


    {% if is_search %}
    <p><small class="text-muted">{% trans "You searched for:" %} {% for key, value in pretty.iteritems %}
        {{ key|prettify }}: {{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}</small></p>
    <div id="saveDlg" class="modal hide fade">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "save as report" %}</h3>
        </div>

        <form class="form-{{ layout }}" action="" method="post">
        <div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="id_deadline">{% trans "report name" %}</label>
					<div class="controls">
						<div class="input-append reportname">
    						<input id="id_reportname" name="reportname" type="text" />
						</div>
					</div>
				</div>
		</div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "cancel" %}</a>
            <input type="submit" value="{% trans "save" %}" class="btn btn-primary">
        </div>
        </form>
    </div>

    <div id="saveToBoardDlg" class="modal hide fade">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "save to board" %}</h3>
        </div>

        <form class="form-horizontal" action="/board/change_board/" method="post">
        <div class="modal-body">
            {{ board_form|as_bootstrap:"horizontal" }}
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "cancel" %}</a>
            <input type="submit" value="{% trans "save" %}" class="btn btn-primary">
        </div>
        </form>
    </div>

    {% endif %}
{% endblock %}
